<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gibbo.Editor.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gibbo.Editor.WPF.Properties.Settings>
            <setting name="LastLoadedProjects" serializeAs="String">
                <value />
            </setting>
            <setting name="AcceptedExtensions" serializeAs="String">
                <value>.jpg|.png|.jpeg|.gif|.bmp|.txt|.scene|.sln|.ini|.cs|.state|.mp3|.wav|.fnt</value>
            </setting>
            <setting name="LoadLastProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultScriptEditor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="StartOnFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightActiveTileset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDebugView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDeploymentFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="secundaryExtension" serializeAs="String">
                <value>animatedsprite</value>
            </setting>
            <setting name="ReduceConsumption" serializeAs="String">
                <value>True</value>
            </setting>
        </Gibbo.Editor.WPF.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
