<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="0.359621451104101*">
      <LayoutAnchorablePane DockWidth="220">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scene Hierarchy" IsSelected="True" ContentId="SceneHierarchyPanel" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane DockWidth="220">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Project Explorer" IsSelected="True" ContentId="ProjectExplorer" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutPanel Orientation="Vertical" DockWidth="2.08675078864353*">
      <LayoutAnchorablePane>
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="SceneView" IsSelected="True" ContentId="SceneView" />
      </LayoutAnchorablePane>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="0.553627760252366*">
      <LayoutAnchorablePane>
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Inspector" IsSelected="True" ContentId="tool1" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Tileset" ContentId="tool2" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>